label.gold{
    color: goldenrod;
    cursor: pointer;
}
label.platinum{
    color:darkblue;
    cursor: pointer;
}
label.diamond{
    color:purple;
    cursor: pointer;
}
label.ultimate{
    color: red;
    cursor: pointer;
}
#btn{
    cursor: pointer;
    width: 65px;
    height: 30px;
    background-color: green;
    border: #03f620;
    padding: 5px;
    border-radius: 15px;
}
body{
    background-color: rgb(189, 225, 251);
}
marquee{
    font-size: 40px;
    color:green
}
div.gold1{
    color: goldenrod;
}
div.plat1{
    color: darkblue;
}
div.diamond1{
    color: purple;
}
div.Ultimate1{
    color: red;
}
img{
    width: 100px;
    height: 100px;
}
sub{
    font-family: cursive;
    color: blue;
}
div.heading{
    color: crimson;
}



/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px; 
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

