* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#after-load {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
}
img{
    height: 25vh;
    width: auto;
    background: none;
}