* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    width: 26vw;
    border: none;
    height: 6vh;
    margin: 13px;
    padding: 4px;
}

.input:active {
    border: 2px solid green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, black, white);
}

form {
    background: linear-gradient(45deg, purple, blueviolet);
    padding: 44px 0;
    max-height: 100vh;
    border: 4px solid blue;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn {
    padding: 7px;
    max-width: 26vw;
    max-height: 7vh;
    margin-top: 12px;
    background-color: black;
    color: white;
    transition: 0.6s ease;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 1100;
    border: none;
    border-radius: 12px;
}

#btn:hover {
    color: black;
    background-color: white;
    transition: 0.6s ease;
}