body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f0f0;
  text-align: center;
  padding-top: 50px;
  background-color: aqua;
}
.alll{
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.clock, .stopwatch {
  font-size: 50px;
  margin: 20px 0;
  color: #333;
}
.buttons button {
  padding: 25px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
}
#start{
    background-color: rgb(46, 246, 46);
    border: 2px solid rgb(2, 157, 2) ;
    box-shadow: 0 0 35px rgb(2, 66, 2);
}
#stop{
    background-color: rgb(237, 37, 37);
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 0 35px rgb(58, 3, 3);
}
#reset{
    background-color: orange;
    border: 2px solid rgb(154, 97, 4);
    box-shadow: 0 0 35px rgb(56, 33, 1);
}