body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    background: rgb(109, 109, 205);
    padding: 45px;
    box-shadow: 10px 5px 5px purple;
}
form h1{
    color: #fed56e;
}
